**Задание 1.**
Импортировать датасет из файла 'orders.csv' и присвоить его переменной
(например, переменной df).

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('orders.csv', sep = ',')

**Задание 2.** Вывести первые 10 строк датафрейма, изучить структуру таблицы.

In [2]:
data.head(10)

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0
5,2019-06-13,53006,36214,26,Грузинская,2.0,0.0
6,2019-07-07,28982,20651,24,Суши,0.0,1.0
7,2019-08-01,45472,30409,24,Бургеры,37.0,4.0
8,2019-07-03,65358,43034,23,Русская,1.0,0.0
9,2019-09-19,60878,41231,23,Русская,4.0,0.0

**Задание 3.** Сколько в датафрейме кколонок  с типом float64?

In [3]:
data.select_dtypes('float64').shape[1]

2

**Задание 4.** Чему равно произведение количества наблюдений на количество колонок в датафрейме?

In [4]:
data.shape[0]*data.shape[1]

672826

**Задание 5.** Сколько уникальных городов в датафрейме?

In [5]:
data.city_id.nunique()

4

**Задание 6.** Сколько успешных заказов в среднем получали рестораны в день? (ответ округлить до целого)

In [6]:
round((np.mean(data.successful_orders)))

9

**Задание 7.** Количество ресторанов со специализацией "Рыба"?

In [7]:
data[(data.spec == 'Рыба')]['vendor_id'].drop_duplicates().shape[0]

18

**Задание 8.** Сколько у ресторана 40065 было дней с количеством успешных заказов менее 20?

In [8]:
mask = (data.vendor_id == 40065) & (data.successful_orders < 20)
data[mask]['successful_orders'].shape[0]

45

**Задание 9.** Сколько успешных заказов в среднем получили рестораны за весь период времени? (окгрулить до целого)

In [9]:
np.sum(data.successful_orders) // data['vendor_id'].nunique()

555.0

**Задание 10.** Город с самым маленьким количеством успешных заказов за весь период

In [10]:
series = data.groupby(by = 'city_id')['successful_orders'].agg(np.sum)
series[series == np.min(series)]

city_id
24    114977.0
Name: successful_orders, dtype: float64

**Задание 11.** Какая специализация имеет самую высокую долю неуспешных заказов за весь период времени? (все заказы по конкретному ресторану складываются из успешных и неуспешых заказов)

In [11]:
frame = data.groupby(by='spec')[['successful_orders', 'fail_orders']].agg([np.sum])
frame['proportion'] =  frame['fail_orders'] / (frame['successful_orders'] + frame['fail_orders'])
frame[frame.proportion == np.max(frame.proportion)]

                    successful_orders fail_orders proportion
                                  sum         sum
spec
Вегетарианское меню               5.0        24.0   0.827586

**Задача 12.** Какая из сетей (chain_id) показала максимальный абсолютный рост по успешным заказам за август 2019 года по сравнению с июлем 2019 года? Учитывать только те сети, у которых заказы были в июле и в августе

In [12]:
july = (data.date >= "2019-07") & (data.date < "2019-08")
august = (data.date >= "2019-08") & (data.date < "2019-09")

data_august = data[august].groupby(by='chain_id')['successful_orders'].agg(np.sum)
data_july = data[july].groupby(by='chain_id')['successful_orders'].agg(np.sum)

result = np.abs(data_august-data_july)
result = result[~np.isnan(result)]
result[result == np.max(result)]

chain_id
29925    1394.0
Name: successful_orders, dtype: float64