In [1]:
import pandas as pd
data = pd.read_csv('orders.csv', sep = ',')
data.head(10)

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0
5,2019-06-13,53006,36214,26,Грузинская,2.0,0.0
6,2019-07-07,28982,20651,24,Суши,0.0,1.0
7,2019-08-01,45472,30409,24,Бургеры,37.0,4.0
8,2019-07-03,65358,43034,23,Русская,1.0,0.0
9,2019-09-19,60878,41231,23,Русская,4.0,0.0

In [2]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96118 entries, 0 to 96117
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               96118 non-null  object
 1   vendor_id          96118 non-null  int64
 2   chain_id           96118 non-null  int64
 3   city_id            96118 non-null  int64
 4   spec               95733 non-null  object
 5   successful_orders  96118 non-null  float64
 6   fail_orders        96118 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 5.1+ MB
None

In [3]:
print(data.shape[0]*data.shape[1])
print(96118*7)

672826
672826

In [4]:
[(col, data[col].nunique()) for col in data.columns]

[('date', 121),
 ('vendor_id', 1537),
 ('chain_id', 1063),
 ('city_id', 4),
 ('spec', 35),
 ('successful_orders', 193),
 ('fail_orders', 42)]

In [6]:
import numpy as np
print(np.sort(data['city_id']))

[23 23 23 ... 26 26 26]

In [7]:
round((np.sum(data['successful_orders']))/data.shape[0])

9

In [8]:
ff = dict()
s =0
for t in data.values:
    if (t[4] == 'Рыба') and t[1] not in ff:
        ff[t[1]]=1
        s+=1
print(s)

18

In [9]:
round((np.sum(data['successful_orders']))/1537)

555

In [10]:
rt = 0
djdf = data[data.vendor_id == 40065][['successful_orders']]
for t in djdf.values:
    if t[0] < 20:
        rt+=1
print(rt)

45

In [13]:
hffh= dict()
for t in data.values:
    if t[3] in hffh:
        hffh[t[3]]+=t[5]
    else:
        hffh[t[3]]=t[5]
print(hffh)

{23: 277744.0, 25: 228518.0, 26: 232039.0, 24: 114977.0}

In [14]:
adj = (277744.0, 228518.0,232039.0,114977.0 )
print(sorted(adj))

[114977.0, 228518.0, 232039.0, 277744.0]

In [15]:
a1= dict()
a2=dict()
for t in data.values:
    if t[4] in a1:
        a1[t[4]]+=(t[5]+t[6])
        a2[t[4]]+=t[6]
    else:
        a1[t[4]]=(t[5]+t[6])
        a2[t[4]]=t[6]
s=dict()
for t in a1:
    if a1[t] != 0:
        s[t]=a2[t]/a1[t]
max_= 0
ans = 'd'

for t in s:
    if max_ < s[t]:
        max_ = s[t]
        ans = t
        
print(ans)
print(s[ans])

Вегетарианское меню
0.8275862068965517

In [16]:
def func(temp):
    if temp[:7] == "2019-07":
        return 1
    if temp[:7] == '2019-08':
        return 2
    return 0
b1= dict()
b2=dict()
for t in data.values:
    if func(t[0]) == 1:
        if t[2] in b1:
            b1[t[2]]+=t[5]
        else:
            b1[t[2]]=t[5]
    if func(t[0]) == 2:
        if t[2] in b2:
            b2[t[2]]+=t[5]
        else:
            b2[t[2]]=t[5]
max___=0
id=0
for t in b1:
    if t in b2:
        if np.abs(b1[t]-b2[t]) > max___:
            max___ = np.abs(b1[t]-b2[t])
            id_ = t
print(id_,max___)

29925 1394.0